<form role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="nome" placeholder="Nome" value="{{ registro.nome }}"/>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="telefone" placeholder="Telefone"
               value="{{registro.telefone}}" />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="data-nascimento" placeholder="Data Nascimento"
               value="{{registro.data_nascimento}}"" />
      </div>

      <button type="submit" class="btn btn-default">Salvar</button>
</form>